@import "colors.scss";

.app {

}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  left: 240px;
  top: 0;
  background-color: $color-secondary-light;
  align-items: center;
  justify-content: space-between;
  .header-block-search{
    padding-left: 35px;
  }
}

.sidebar {
  width: 240px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $color-secondary-dark;
  .sidebar-header{
    height: 70px;
    .brand{
      height: 100%;
      line-height: 100%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.main{
  padding-left: 240px;
  .content{
    //padding: 95px 20px 75px 20px;
    padding-top: 70px;
    min-height: 100vh;
    box-sizing: border-box;

    background-color: $color-secondary-ease;
  }
}
form{
  
}