/*
This is color variables file. So please import this file to place where you adding color.
DO NOT HARDCODE COLORS!!!
PRIMARY,SECONDARY,TEXT(light,normal,dark)
*/
/* Primary */
$color-primary-light: #4bcf99;
$color-primary-normal: #33be85;
$color-primary-dark: #103E2B;
/* Secondary*/
$color-secondary-light:#f0f3f6  ;
$color-secondary-normal: #d7dde4;
$color-secondary-dark: #3a4651;
/*Addition*/


/**/

