@import 'vars';

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}

body {
  font-size: 16px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
  font-weight: 600;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

small {
  font-size: 80%;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 1em;
}

p.lead {
  font-size: 20px;
}

.text-muted {
  color: $color-secondary-normal;
}

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-info {
  color: $color-warning;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: $color-danger;
}

.error-code {
  font-size: 150px;
  line-height: 150px;
  font-weight: 700;
  color: #252932;
  text-align: center;
  text-shadow: rgba(61, 61, 61, 0.3) 0.5px 0.5px, rgba(61, 61, 61, 0.2) 1px 1px, rgba(61, 61, 61, 0.3) 1.5px 1.5px;
}

.error-title {
  font-weight: 300;
  font-size: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {

}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  .flex-col {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    flex-grow: 1;
    &.flex-col-2 {
      flex: 0 0 50%;
      max-width: 50%;

    }
  }
}
@media screen and (max-width: 768px){
  .sidebar{
      transform: translateX(-100%);
  }
  .header{
    left: 0;
  }
  .main{
    padding-left: 0;
  }
  .flex-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .flex-col {
      box-sizing: border-box;
      padding-right: 15px;
      padding-left: 15px;

      &.flex-col-2 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}