@import 'colors';

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
  font-weight: 600;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

small {
  font-size: 80%;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 1em;
}

p.lead {
  font-size: 20px;
}

.text-muted {
  color: $color-secondary-normal;
}

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-info {
  color: $color-warning;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: $color-danger;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}