@import "colors";

.form-group {
  //margin-bottom: 16px;
  display: flex;
  align-items: center;
  .form-group-icon{
    color: inherit;
    padding: 6px;
    vertical-align: middle;
    svg{
      vertical-align: middle;
    }
  }
  label {
    color: inherit;
    font-weight: 500;
  }
  input {
    outline: none;
    display: block;
    width: 100%;
    color: $color-secondary-dark;
    font-size: 14px;
    padding: 6px 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-clip: padding-box;
    box-shadow: none;
    &.outlined {
      border-bottom: 1px solid $color-secondary-light;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:focus {
        border-bottom-color: $color-main-light;
      }
    }


  }
}