@import "vars";
.list {
  padding-bottom: 100px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  table {
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: $shadow;
    tr {
      padding: 0 15px;
      box-shadow: $shadow;
    }
    td{
      height: 90px;
    }

    tr:nth-child(2n) {
      background-color: #fcfcfd;
    }

    th {
      border-collapse: collapse;
      padding: 10px;
      background-color: #fcfcfd;
      span {
        color: #999;
        font-size: 12px;
        display: inline-block;
      }
    }

    td,th {
      max-width: 100px;
      padding: 10px;
      padding-left: 0;

    }
  }

  tr span, th span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-num {
    text-align: right;
  }

  .cell-text {
    text-align: left;
  }

  .cell-date {
    text-align: left;
  }

  .cell-img {
    text-align: center;

    img {
      max-width: 60px;
      max-height: 60px;
    }
  }

  .cell-bool {
    text-align: center;
  }
  .list-pagination{
    width: 100%;
    margin-top: 15px;
    text-align: right;
    position: absolute;
    bottom: 0;
  }
  .pagination{
    transition: .3s ease;
  }
}