@import "vars";

.list {
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  tr {
    padding: 0 15px;
    box-shadow: $shadow;
  }

  td {
    height: 100px;

  }

  tr:nth-child(2n) {
    background-color: #fcfcfd;
  }

  th {
    border-collapse: collapse;
    padding: 10px;
    background-color: #fcfcfd;

    span {
      color: #999;
      font-size: 12px;
      display: inline-block;
    }
  }

  td, th {
    max-width: 100px;
    padding: 5px;
    padding-left: 0;

  }


  tr span, th span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-num {
    text-align: right;
  }

  .cell-text {
    text-align: left;
  }

  .cell-date {
    text-align: left;
  }

  .cell-img {
    text-align: center;
    min-width: 60px;

    img {
      width: 60px;
      vertical-align: middle;
      height: auto;
    }
  }

  .cell-bool {
    text-align: center;
  }
}

.pagination {
  transition: .3s ease;
  width: 100%;
  margin-top: 15px;
  text-align: right;
  position: absolute;
  bottom: 0;
  .p-item {
    margin: 5px 0 0;
    box-sizing: border-box;
    transition: .3s ease;
    display: inline-block;
    text-align: center;
    width: 52px;
    a{
      width: 100%;
    }
  }
  .p-item:last-child,.p-item:first-child{
    width: auto;
  }
}