@keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring {
  position: relative;
}

.preloader-container{
}
.preloader{
  .lds-dual-ring{
    margin: auto;

  }
}
.preloader{
  .lds-dual-ring div{
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
  }
}
.preloader-small{
  .lds-dual-ring div {
    width: 160px;
    height: 160px;
    border: 8px solid #000;
    border-color: #33c087 transparent #33c087 transparent;
    animation: lds-dual-ring 1s linear infinite;
  }

  .lds-dual-ring {
    width: 49px !important;
    height: 49px !important;
    transform: translate(-24.5px, -24.5px) scale(0.245) translate(24.5px, 24.5px);
  }

}
.preloader-normal{
  .lds-dual-ring div {
    width: 160px;
    height: 160px;
    border: 12px solid #000;
    border-color: #33c087 transparent #33c087 transparent;
    -webkit-animation: lds-dual-ring 1s linear infinite;
    animation: lds-dual-ring 1s linear infinite;
  }
  .lds-dual-ring {
    width: 80px !important;
    height: 80px !important;
    -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
    transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
  }
}
.preloader-large{
  .lds-dual-ring div {
    width: 160px;
    height: 160px;
    border: 12px solid #000;
    border-color: #33c087 transparent #33c087 transparent;
    -webkit-animation: lds-dual-ring 1s linear infinite;
    animation: lds-dual-ring 1s linear infinite;
  }
  .lds-dual-ring {
    width: 150px !important;
    height: 150px !important;
    -webkit-transform: translate(-75px, -75px) scale(0.75) translate(75px, 75px);
    transform: translate(-75px, -75px) scale(0.75) translate(75px, 75px);
  }
}


