@import "vars";

.checkbox {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0 10px;
  .checkbox-icon {
    background-color: $color-secondary-light;
    position: relative;
    //font-size: 21px;
    vertical-align: middle;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    //font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    transition: .1s ease;
    color: #fff;
    .icon {
      margin: 0;
    }

    


  }

  input {
    display: none;
  }

  &.checked .checkbox-icon {
    background-color: $color-primary;
  }
  &.cb-primary {
  }
  &.disabled{
    opacity: .6;
  }
}