@import "vars";

.list-table {
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  thead{
    background-color: $color-secondary-ease;

  }
  tr {
    padding: 0 15px;
    box-shadow: $shadow;
  }
  td {
    height: 70px;
  }
  td:first-of-type,td:last-of-type{
    text-align: center;
    width: 40px;
  }

  tr:nth-child(2n) {
    //background-color: $color-secondary-ease;
  }
  th {
    border-collapse: collapse;
    padding: 10px;

    span {
      color: #999;
      font-size: 12px;
      display: inline-block;
    }
  }

  td, th {
    max-width: 100px;
    padding: 5px;
    padding-left: 0;

  }


  tr span, th span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-num {
    text-align: right;
  }

  .cell-text {
    text-align: left;
  }

  .cell-date {
    text-align: left;
  }

  .cell-img {
    text-align: center;
    min-width: 60px;

    img {
      width: 60px;
      vertical-align: middle;
      height: auto;
    }
  }

  .cell-bool {
    text-align: center;
  }

}
.list-bottom{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 100px;
}
.list-pagination{
  //position: absolute;
  //top: 0;
  //right: 0;
  margin-left: auto;
  order: 2;
}
.list-details{
  //position: absolute;
  //top: 0;
  //left: 0;
  //float: left;
  color: $color-secondary-normal;
  font-weight: 700;
  opacity: .5;
  font-size: 14px;
}

.pagination {
  transition: .3s ease;
  width: 100%;
  text-align: center;

  .p-item {
    box-sizing: border-box;
    transition: .3s ease;
    display: inline-block;
    text-align: center;
  }
  .p-item:last-child,.p-item:first-child{
    width: auto;
  }
}