@import "vars";
//.select {
//  max-width: 300px;
//  min-width: 70px;
//  height: 36px;
//  display: inline-block;
//  position: relative;
//  color: #2d363f;
//  border: none;
//  background-color: transparent;
//  option.select-option {
//    padding: 6px;
//    font-size: 14px;
//    background-color: $color-secondary-ease ;
//  }
//  &:focus{
//    outline: none;
//  }
//
//
//  &.closed {
//    display: none;
//  }
//}

.select{
  max-width: 300px;
  min-width: 70px;
  width: auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .select-title{
    //color: $color-secondary-dark;
    width: auto;
    display: inline-block;
    cursor: pointer;
  }
  .select-options{
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    position: absolute;
    top: 0;
    background-color: #fff;
    color: $color-secondary-dark-extra;

    animation-duration: 1s;
    &.scrolled{
      overflow-y: scroll;
      height: 240px;
    }
    .select-option{
      cursor: pointer;
      padding: 8px 13px;
      text-align: left;
    }
    .select-option:hover,.selected-option{
      background-color: rgba(0, 0, 0, 0.11);
    }
    &.open{
    }
    &.hide{
      display: none;

    }
  }

}
